body {
    background-color: rgba(254,250,239,255);
    background-image: url(bird.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 640px 930px;
    background-position: right center;
}

#det {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(173, 65, 6, 0.974);
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.t {
    font-size:large;
    position: relative;
    max-width: 213px;
    padding-right: 100px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.a {
    font-size:large;
    position: relative;
    max-width: 213px;
    padding-left: 50px;
}

.d {
    font-size:large;
    position: relative;
    max-width: 213px;
    padding-left: 50px;
    padding-top: 20px;
}

.button{
    position: relative;
    padding-top: 50px;
    padding-left: 450px;
}

img{
    width: 950px;
    height: 2px
}

input[type=text], select {
    font-family: 'Courier New', Courier, monospace;
    width: 400%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

textarea {
    width: 400%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #aa4404;
    border: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 5px rgb(169, 162, 148);
  }

.button:hover {
    background-color: burlywood;
    color: #aa4404;
    font-weight: bold;
  }

  .button:active {
    background-color: burlywood;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.b{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 900px;
  }